{% extends 'base.html.twig' %}

{% block title %}CGV flower family{% endblock %}

{% block meta %}
	  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block body %}
	<main
		id="main">

		<!-- ======= Breadcrumbs ======= -->
		<section id="breadcrumbs" class="breadcrumbs">
			<div class="container">

				<div class="d-flex justify-content-end align-items-center">
					<ol class="mt-4">
						<li>
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li>CGV</li>
					</ol>
				</div>

			</div>
		</section>
		<!-- End Breadcrumbs -->

		<!-- =======  Section ======= -->
		<section >
			<div class="container ">
				<div class="section-title " data-aos="fade-up">
					<h1>Les conditions générales de vente</h1>
				</div>

			</div>
		</section>
		<!-- End  Section -->

	</main>
	<!-- End #main -->
{% endblock %}



