html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #E6EEE4;
    color: #1e2e1b;
    margin: auto;
}

header {
    width: 100%;
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 120px;
    height: 70px;
}

.email-content {
    width: 80%;
    margin: auto;
}

.email-content h1 {
    text-align: center;
    font-size: 22px;

}

.email-content p {
    text-align: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    color:#1e2e1b;
}

.email-content button a {
    color: #1e2e1b;
}

.email-content button {
    background-color: #74A46A;
    padding: 13px 8px;
    border: 1px solid #74A46A;
    color: #1e2e1b;
    border-radius: 8px;
    font-size: 12px;

}
.flex{
    display: flex;
    
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.name{
    color:#1e2e1b;
    font-size: 20px;
    margin-left:20px;
}
span{
    color: #1e2e1b;
}
footer{
    margin-top: 10px;
    display:flex;
    justify-content: center;
}
@media screen and (max-width:778px) {
    body{
        margin:5px 10px
    }
}
@media screen and (max-width:468px) {
    body{
        margin:5px 10px
    }
    .email-content h1{
        font-size: 18px;
    
    }
    .email-content p{
        font-size: 15px;
    
    }
    .name{
        font-size: 13px;
    }
}
.btn button{
   
    margin:auto;
}
.btn{
    width:100%;
    display: flex;
    justify-content: center;
}