{% apply inline_css(source('@css/email.css')) %}
<body>
	<header >
		<div>
			<img src="{{ email.image('@images/logo-iclope.jpg') }}" alt="Logo iclope">
		</div>
	<div class="name"><h1>{{ username }}</h1>  </div>
	</header>
	<div class="email-content">
		<h1>Bienvenue parmi la communauté de I-clope
			</h1>
		<div class="email-message">
			<p>Nous vous invitons à activer votre compte en cliquant sur le bouton ci-dessous
			</p>
			<div >
				<button>
					<a href="{{url}}">
						Activer mon compte
					</a>
				</button>
			</div>
		</div>

	</div>
	<footer>
		<div >
			<p> <a href="#"> CGV</a></p>
			<p> <a href="#"> Politique de confidentialité</a></p>
		</div>
	</footer>
</body>
{% endapply %}
