{% apply inline_css(source('@css/email.css')) %}
<body>
	<header>
		<div>
			<img src="{{ email.image('@images/flower-familypng.png') }}" alt="Logo iclop">
		</div>
		<div class="name"><h1>{{ username }}</h1></div>
	</header>
	<div class="email-content">
		<h1>Confirmation de votre commande
			</h1>
		<div class="email-message">
			<p>Nous avons bien réçu votre commande ,vous pouvez voir ses détails en cliquant sur le bouton ci-dessous
            et en consultant la rubrique <span>mes commandes</span>
			</p>
			<div class="btn">
				<button>
					<a href="{{url}}">
						Détails de ma commande
					</a>
				</button>
			</div>
		</div>

	</div>
</body>
{% endapply %}
