{% apply inline_css(source('@css/email.css')) %}
<body>
	<header>
		<div >
			<img src="{{ email.image('@images/logo-iclope.jpg') }}" alt="Logo iclope">
		</div>
		<div class="name"><h1>{{ username }}</h1></div>
	</header>
	<div class="email-content">
		<h1>Réinitialisation de mot de passe
			</h1>
		<div class="email-message">
			<p>Vous pouvez réinitialiser votre mot de passe en cliquant sur le bouton ci-dessous<br>
				ce lien est valide quatre heures ,passé ce délai ,vous pouvez renouveler votre demande
			</p>
			<div class="btn">
				<button>
					<a href="{{url}}">
						Réinitialiser mon mot de passe
					</a>
				</button>
			</div>
		</div>

	</div>
</body>
{% endapply %}
